Package: libffi6-dbg
Source: libffi
Version: 3.2.1-9
Architecture: amd64
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 43
Depends: libffi6 (= 3.2.1-9)
Section: debug
Priority: optional
Multi-Arch: same
Homepage: https://sourceware.org/libffi/
Description: Foreign Function Interface library runtime (debug symbols)
 A foreign function interface is the popular name for the interface that
 allows code written in one language to call code written in another
 language.
Build-Ids: 6111f622c35f5627a0dafb6b9508e94493083718
